@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular{
    font-family: "Prata",serif;
    font-weight: 400;
    font-style: normal;
}

/* Add this to your CSS file or inside a <style> tag in your component */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease-out;
}
